.body {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

.bluebackground {
    background-color: #5eb5e0;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 1% 0;
    position: relative;
}

.menu {
    width: 13%;
    background-color: #5eb5e0;
    border-right: solid 1px black;
    height: auto;
}

.dashboardcontent {
    margin: 0;
    padding-top: 10%;
}

.dashboardauthors,
.dashboardbooks,
.dashboardusers {
    margin-left: 20%;
}

.divcontent {
    width: 87%;
}

.displayflex {
    display: flex;
}

.update {
    color: darkblue;
}

.delete {
    color: darkred;
}

.sectionbookslist {
    display: flex;
    flex-wrap: wrap;
}

.sectionauthorslist {
    display: flex;
    flex-wrap: wrap;
}

.bookslist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bookslist h2 a,
.authorslist h2 a {
    text-decoration: none;
}

.dashboardstat {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
}

.homesection {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.dashboardvalue {
    font-weight: bold;
    font-size: 30px;
}

.dashboardstatrender {
    text-align: center;
}

.dashboardhome {
    margin-bottom: 30%;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.inputFlex {
    display: flex;
    justify-content: center;
}

.align {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

.addMessage {
    position: relative;
}

.successMessage {
    width: 30%;
    background-color: green;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 1% 0;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 10px;
}
