body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    border-bottom: solid 3px gold;
    position: fixed;
    height: 15%;
}

footer {
    background-color: black;
    border-top: solid 3px gold;
    padding : 1% 0;
}

main {
    padding-bottom: 5%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkblue;
}

.imglogo {
    width: 60%;
    height: auto;
}

.listheader {
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.listheader li {
    display: inline-block;
}

h1 {
    text-align: center;
    padding-top: 15%;
    padding-bottom: 5%;
    margin: 0;
}

.sectionbookslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bookslist h2 {
    text-align: center;
    margin-bottom: 8%;
}

.bookslist {
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: gold solid 1px;
    padding-bottom: 3%;
}

.listfooter {
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.listfooter li {
    display: inline-block;
}

.resume {
    font-style: italic;
}

.author {
    font-weight: bold;
}

.nbPages {
    font-weight: lighter;
    color: gray;
}

.bookslist a {
    display: inline-block;
    justify-content: space-around;
}

.bookslist div {
    display: flex;
    justify-content: space-around;
}

.delete {
    color: red;
}

.update {
    color: blue;
}

.search {
    margin-left: 5%;
    margin-bottom: 10%;
}