body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    border-bottom: solid 3px gold;
    height: 20%;
}

footer {
    background-color: black;
    border-top: solid 3px gold;
    padding : 1% 0;
}

main {
    padding-bottom: 5%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkblue;
}

.imglogo {
    width: 60%;
    height: auto;
}

.listheader {
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.listheader li {
    display: inline-block;
}

h1 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
    margin: 0;
}

.sectionbookslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bookslist h2 {
    text-align: center;
    margin-bottom: 8%;
}

.bookslist {
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: gold solid 1px;
    padding-bottom: 3%;
}

.listfooter {
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.listfooter li {
    display: inline-block;
}

.resume {
    font-style: italic;
}

.author {
    font-weight: bold;
}

.nbPages {
    font-weight: lighter;
    color: gray;
}

.bookslist a {
    display: inline-block;
    justify-content: space-around;
}

.bookslist div {
    display: flex;
    justify-content: space-around;
}

.delete {
    color: red;
}

.update {
    color: blue;
}

.search {
    margin-left: 5%;
    margin-bottom: 10%;
}

.searchsection {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;

}

.searchsection .searchdiv {
    margin-top: 5%;
    padding-bottom: 5%;
    border-bottom: 1px solid gold;
}

.searchvariable {
    margin-left: 3%;
}

.searchsection .searchdiv div {
    display: flex;
    justify-content: space-evenly;
}

.back {
    margin-left: 3%;
    margin-bottom: 3%;
}

.booksection {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.bookdiv {
    border-bottom: solid 1px gold;
}

.authorslist {
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: gold solid 1px;
    padding-bottom: 3%;
}

.sectionauthorslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.authorsection {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.authordiv {
    border-bottom: solid 1px gold;
}

.imgauthors,
.imgbooks {
    width: 50%;
}

.bookslist a {
    display: inline-block;
    justify-content: space-around;
}

.authorslist div {
    display: flex;
    justify-content: space-around;
}

.home {
    justify-content: center;
    display: flex;
    text-align: center;
}

.homeauthors a {
    margin-bottom: 5%;
}

.homeauthors div {
    display: inline-block;
}

.bluebackground {
    background-color: #5eb5e0;
}

.formLogin {
    width: 30%;
    margin-top: 5%;
    border: solid 1px black;
    padding: 1%;
    margin-bottom: 5%;
}

.loginParent {
    display: flex;
    justify-content: center;
}

.loginLogo {
    width: 40%;
    margin-top: 5%;
}

.loginParentLogo {
    display: flex;
    justify-content: center;
}

.loginParentSubmit {
    display: flex;
    justify-content: center;
}

.loginPhrase {
    font-size: 24px;
    border-bottom: gold solid 2px;
    margin-bottom: 5%;
    padding-bottom: 7%;
}