{% extends 'Admin/Common/base.html.twig' %}


{% block content %}
    <section class="homesection">
        <div class="xLarge-3 dashboardstat">
            <div class="dashboardstatrender">
                <p>Vous avez</p>
                <p class="dashboardvalue">{{ books|length }}</p>
                <p>livres enregistrés</p>
            </div>
        </div>
        <div class="xLarge-3 dashboardstat">
            <div class="dashboardstatrender">
                <p>Vous avez</p>
                <p class="dashboardvalue">{{ authors|length }}</p>
                <p>auteurs enregistrés</p>
        </div>
    </section>

{% endblock %}