<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <header>
            <nav>
                <ul>
                    <li><a href="{{path('books')}}"><img src="https://us.123rf.com/450wm/sudok1/sudok11503/sudok1150300004/37345053-vieux-livre-ouvert-pour-%C3%A9tudier-isol%C3%A9-sur-un-fond-noir.jpg?ver=6" alt=""></a></li>
                    <li> Lien 1</li>
                    <li> Lien 2</li>
                </ul>
            </nav>
        </header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <footer>
            <nav>
                <ul>
                    <li> Lien 1</li>
                    <li> Lien 2</li>
                    <li> Lien 3</li>
                </ul>
            </nav>
        </footer>

    </body>
</html>
